.banner {
  background: url(../../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
  position: relative;
}

.bannerContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bannerImage {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 85px;
}

.bannerImage > img {
  width: 100%;
  height: 100%;
}

.bannerText {
  flex: 1;
}

.bannerText > span {
  font-size: 1.5rem;
  color: var(--orange);
  position: relative;
}

.bannerText > h3 {
  padding-top: 10px;
  color: var(--white);
  font-weight: 400;
  font-size: 2.5em;
  text-transform: capitalize;
  position: relative;
}

.bannerText > a {
  margin-top: 0.7rem;
  display: inline-block;
  padding: 0.7rem 2rem;
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.bannerText > a:hover {
  background: var(--white);
  color: var(--orange);
  position: relative;
}

@media (max-width: 990px) {
  .bannerText > h3  {
    font-size: 2em;
  }
}

@media (max-width: 850px) {
  .bannerText > h3  {
    font-size: 1.6em;
  }
}

@media (max-width: 750px) {
  .bannerContainer  {
    flex-direction: column;
  }

  .bannerText > h3  {
    font-size: 1.8em;
  }
}

@media (max-width: 550px) {
  .bannerImage {
    padding: 25px;
  }
}

@media (max-width: 400px) {
  .bannerText > h3  {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  .bannerText > span, .bannerText > h3 {
    font-size: 1em;
  }
  .bannerText > a {
    font-size: 0.8em;
  }
}